<div class="footer">
    <div class="pull-right">
        Desarrollado por: Gabriel Julián
    </div>
    <div>
        &copy; 2016 <strong>Trabajo Fin de Grado: </strong> Sistema de Control de Combustible en Flotas.
    </div>
</div>
