<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tfgwebclient.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>tfgwebclient.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TFGWebClient</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TFGWebClient</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=gjulianc.database.windows.net;Initial Catalog=tfg;Persist Security Info=True;User ID=gjulianc@outlook.es@gjulianc;Password=Funf0n3t39" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TFG.WebClient.Models.ApplicationDbContext, Inspinia_MVC5_SeedProject" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DbConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=gjulianc.database.windows.net;Initial Catalog=tfg;Persist Security Info=True;User ID=gjulianc@outlook.es@gjulianc;Password=Funf0n3t39" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gjulianc.database.windows.net;Initial Catalog=tfg;User ID=gjulianc@outlook.es@gjulianc;Password=Funf0n3t39" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=gjulianc.database.windows.net;     Initial Catalog=tfg;User ID=gjulianc@outlook.es@gjulianc; Password=Funf0n3t39" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=gjulianc.database.windows.net;Initial Catalog=tfg;Persist Security Info=True;User ID=gjulianc@outlook.es@gjulianc;Password=Funf0n3t39</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=gjulianc.database.windows.net;Initial Catalog=tfg;Persist Security Info=True;User ID=gjulianc@outlook.es@gjulianc;Password=Funf0n3t39</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>